<div class="navBar">
  <div id="logo"></div>
  <div id="heading"><a routerLink="/">Red Chat</a></div>
  <div class="link-container">
    <div class="links">
        <span>
          <a *ngIf="(user|async) === null" routerLink="/login">Login</a>
        </span>
        <span>
          <a *ngIf="(user|async) === null" routerLink="/signup">Sign Up</a>
        </span>
        <span>
          <span id="userEmail" *ngIf="(user|async) !== null">Hello, {{userEmail}}</span>
        </span>
        <span>
          <a *ngIf="(user|async) !== null" (click)="logout()">Logout</a>
        </span>
      </div>
  </div>
</div>