<!-- <div class="messageContainer"
    [ngClass]="{'isOwnMessageContainer':isOwnMessage}">
    <div class="messageData"
        [ngClass]="{'isOwnMessageData':isOwnMessage}">
        <span class="sender"
            [ngClass]="{'isOwnSender':isOwnMessage}">
            {{ userName }}
        </span>
        <span class="timestamp" 
            [ngClass] = "{'isOwnTimestamp':isOwnMessage}">
            {{ timeStamp | date:'medium' }}
        </span>
    </div>
    <div class="messageContent">
        {{ messageContent }}
    </div>
</div> -->

<div class="messageContainer" [ngClass]="{'isOwnMessageContainer':isOwnMessage}">
  <div class="user-profile-pic"><img src="{{ profilePicture }}"></div>
  <div class="message"> {{ messageContent }} </div>
</div>
