.messageContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
   margin-bottom: 10px;
}

.messageContainer .user-profile-pic {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.messageContainer .user-profile-pic img{
    width: 100%;
}

.messageContainer .message {
    padding: 10px;
    margin: 10px 10px 0;
    background: #fff;
    border-radius: 10px;
    color: black;
    font-size: 16px;
}

.isOwnMessageContainer {
    float: right;
}

.isOwnMessageContainer .message {
    order: -1;
    float: right;
}
