.mainContent{
    display: flex;
}

.userListWrapper {
    background-color: #EF132C;
    color: #fff;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 2;
    order: 1;
    padding:10px 20px 10px 20px;
}

.chatBoxWrapper {
    flex: 3;
    order: 2;
}

.feedWrapper {
    background-color: #F24256;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    overflow-y: scroll;
    padding:20px 10px 0px 10px;
    height: 85%;
}

.friendListWrapper {
    background-color: #EF132C;
    color: #fff;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 2;
    order: 3;
    padding:10px 20px 10px 20px;
}

.chatFormWrapper {
    display: flex;
    height: 15%;
    background-color: #eee;
    z-index: 3;
}

#scroll-style::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

app-user-list {
    width: 100%;
}

app-friend-list {
    width: 100%;
}