.mainContent{
    display: flex;
}

.userListWrapper {
    background-color: #EF132C;
    color: #fff;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 2;
    order: 1;
    padding:20px 0px 40px 30px;
    border-right: 1px solid #222;
}

.chatBoxWrapper {
    flex: 3;
    order: 2;
}

.feedWrapper {
    background-color: #F24256;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    overflow-y: scroll;
    padding:20px 10px 0px 10px;
    height: 85%;
}

.friendListWrapper {
    background-color: #EF132C;
    color: #fff;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 2;
    order: 3;
    padding:20px 0px 40px 30px;
    border-right: 1px solid #222;
}

.chatFormWrapper {
    display: flex;
    height: 15%;
    background-color: #eee;
    z-index: 3;
}

#scroll ::-webkit-scrollbar
{
	border-radius: 10px;
}

#scroll ::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #F5F5F5;
}

app-user-list {
    width: 100%;
}