.userItem{
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    /* align-items:flex-start; */
    background-color: #EAEAEB;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: black;
    border-radius: 8px;
    transition: ease-in 0.2s;
}

.userItem:hover{
    background-color: #EF132C;
    color: #ddd;
    transition: ease-in 0.1s;
}

.user-item-profile-pic {
    width: 64px;
    height: 64px;
    background: #ccc;
    display: inline-block;
}

.online{
    background-color: #FFAD33;
}

.busy{
    background-color: #FB0;
}

.offline{
    background-color: #888;
}

.status{
    border: 1px solid black;
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    margin: 10px 10px 0px 10px;
}

.userName{
    display: inline-block;
}

.hidden-btn {
    display: none;
}

.modal-content {
    height: 720px;
    width: auto;
    padding: 20px 0 10px 0;
}

.img-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}

.modal-add {
    margin-top: 20px;
    padding: 0px 100px 0px 100px;
    height: 60px;
}

.modal-add .btn{
    width: 100%;
    font-size: 1.2em;
}